body{
    background-color: #8288cb;
    font-family: 'Courier New', Courier, monospace;
}
h1{
    text-align: center;
}

.calc{
    display: flex;
    justify-content: center;
    height: 80vh;
    width: 70%;
    border: 5px solid #21254f;
    margin: 40px auto;
    background-color: #ddbfe7;
}
.output{
    border: 5px solid #21254f;
    text-align: right;
    padding: 5px;
    background-color: white;

}
.button-container{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    height: 500px;
    width: 100%;
    padding: 5px;
    border: 5px solid #21254f;
}
.calc-buttons{
    font-size: 40px;
    padding: 10px;
    margin-left: 40px;
    font-weight: bold;
}
.clear{
    border: 5px solid black;
    border-radius: 50%;
    height: 50px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;

}
.output {
    height: 40px;
}